
$main-text: #7f8c97;
$link: #acb7c0;
$background: #e9f0f5;

$color-1: #303e49;
$color-2: #c03b44;
$color-3: #ffffff;
$color-4: #75ce66;
$color-5: #f0ca45;
$color-6: rgba(255,255,255,0.5);
$color-7: #9e87ce;
$color-8: #5c4b51;
$color-9: #e0cf75;
$color-10: #f5b65a;
$color-11: #f25f5c;
$color-12: #8abeb2;
$color-13: #ffffff;


$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;


$animation-duration: 0.4s;